<h2>Titulek portálu</h2>
<p>
  <form method="post" action="p-edit">
    <input type="text" name="title" value="<TMPL_VAR title>" />
    <input type="hidden" name="control" value="title" />
    <input type="submit" value="Aktualizuj" />
  </form>
</p>

<h2>Popis portálu</h2>
<p>
  <form method="post" action="p-edit">
    <input type="text" name="description" value="<TMPL_VAR description>" />
    <input type="hidden" name="control" value="description" />
    <input type="submit" value="Aktualizuj" />
  </form>
</p>

<h2>Klíčová slova</h2>
<p>
  <form method="post" action="p-edit">
    <input type="text" name="keywords" value="<TMPL_VAR keywords>" />
    <input type="hidden" name="control" value="keywords" />
    <input type="submit" value="Aktualizuj" />
  </form>
</p>
