<h2>Titulek portálu</h2>
<p>
  <form method="post" action="p-edit">
    <input type="text" name="title" value="<TMPL_VAR title>" />
    <input type="hidden" name="control" value="title" />
    <input type="submit" value="Aktualizuj" />
  </form>
</p>

<h2>Popis portálu</h2>
<p>
  <form method="post" action="p-edit">
    <input type="text" name="description" value="<TMPL_VAR description>" />
    <input type="hidden" name="control" value="description" />
    <input type="submit" value="Aktualizuj" />
  </form>
</p>

<h2>Klíčová slova</h2>
<p>
  <form method="post" action="p-edit">
    <input type="text" name="keywords" value="<TMPL_VAR keywords>" />
    <input type="hidden" name="control" value="keywords" />
    <input type="submit" value="Aktualizuj" />
  </form>
</p>

<h2>Aktualizace systému</h2>
<div class="<TMPL_VAR updateDiv>" id="update">
  <div class="fullRow"><TMPL_VAR updateComment></div>
  <span>Nainstalovaná verze:&nbsp;</span><span class="bold"><TMPL_VAR currentVersion></span><br />
  <span>Nejnovější verze:&nbsp;</span><span class="bold"><TMPL_VAR updateVersion></span><br />
  <a href="<TMPL_VAR updateLink>" class="<TMPL_VAR updateButton>">AKTUALIZOVAT</a>
</div>