<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Ondřej Kotas, KRtkovo.eu - design studio" />
  <meta name="robots" content="noindex, nofollow" />
  
  <title>Administrace &bull; redakční systém KTS</title>
  
  <link href="style.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="../fonts.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="favicon.ico" rel="icon" />
</head>

<body>
<div id="container">