<a href="p-config" id="logo">
  <img src="images/logo.png" alt="Administrace portĂˇlu" />
</a>

<div id="info" class="<TMPL_VAR class>">
  <TMPL_VAR info ESCAPE="NONE">
</div>

<div class="clear"></div>

<ul id="menu">
  <a href="p-config"><li class="config">Konfigurace</li></a>
  <a href="p-topics"><li class="topics">PĹ™Ă­spÄ›vky</li></a>
  <a href="p-photos"><li class="photos">Fotogalerie</li></a>
  <!--<a href="p-users"><li class="users">UĹľivatelĂ©</li></a>-->
</ul>

<div class="clear"></div>

<div id="content" class="<TMPL_VAR class>">
