  <div id="container" class="center">
    <div id="content">
      	<img src="images/404.jpg" alt="Error 404 - Page not found" /><br />
	      <h2>NejspĂ­Ĺˇ to tu uĹľ nenĂ­, omlouvĂˇme se.</h2>
    </div>
  </div>