  <div id="titleBlock">
    <h1>Všechny články z kategorie <TMPL_VAR title></h1>
  </div>

  <div id="contentBlock">
    <ul>
    <TMPL_LOOP topics>
      <li>
        <a href="p-show?id=<TMPL_VAR topicId>">
          <TMPL_VAR topicTitle>
        </a>
      </li>
    </TMPL_LOOP>
    </ul>
  </div>

