  <div id="footer">
    Poslední aktualizace: <TMPL_VAR update> (před <TMPL_VAR count> dny)<br />
    <br />
    Webdesign & script: <a href="http://krtkovo.eu/" rel="external">Ondřej Kotas (KRtkovo.eu)</a>, powered by <a href="https://github.com/KRtkovo-eu/KTS" rel="external">KTS <TMPL_VAR ktsVersion></a><br />
    Dílo je publikováno pod licencí <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="external">Creative Commons-BY-SA 4.0</a> a <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html" rel="external">GNU GPL v.3</a> - 2014
  </div>
</body>
</html>
