  <div id="footer">
    <!--PoslednĂ­ aktualizace: <TMPL_VAR update> (pĹ™ed <TMPL_VAR count> dny)<br />
    <br />-->
    Webdesign & script: <a href="http://krtkovo.eu/" rel="external">OndĹ™ej Kotas (KRtkovo.eu)</a>, powered by <a href="http://kts.krtkovo.eu/" rel="external">KTS</a> | 
    DĂ­lo je publikovĂˇno pod licencĂ­ <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="external">Creative Commons-BY-SA 4.0</a> a <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html" rel="external">GNU GPL v.3</a> - 2014
  </div>
</body>
</html>
