<body id="body">
  <div id="line"></div>
  <div id="header">
    <div class="fltLeft"><a href="index.php"><img src="templates/<TMPL_VAR headTemplate>/images/logo.png" alt="logo" /></a></div>
    <div class="fltRight" id="menu">
      <a href="p-categories?id=1"><div class="menuItem">obecné</div></a>
      <a href="p-gallery"><div class="menuItem">fotogalerie</div></a>
      <a href="admin"><div class="menuItem">administrace</div></a>
    </div>
    <div class="clear"></div>
  </div>
