<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="author" content="OndĹ™ej Kotas, KRtkovo.eu - design studio" />
  <meta name="description" content="<TMPL_VAR headDescription>" />
  <meta name="keywords" content="<TMPL_VAR headKeywords>" />
  <meta name="robots" content="index, follow" />

  <title><TMPL_VAR headTitle></title>

  <link href="templates/<TMPL_VAR headTemplate>/style.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="lightbox.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="favicon.ico" rel="icon" />

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="http://creativecouple.github.io/jquery-timing/jquery-timing.min.js?v=20130928-164118"></script>

  <script type="text/javascript" src="functions/js/modernizr.custom.js"></script>
  <script type="text/javascript" src="functions/js/lightbox-2.6.min.js"></script>
  
  <script type="text/javascript" src="functions/js/external.js"></script>
  <script type="text/javascript" src="functions/js/donnations.js"></script>
</head>