  <div id="titleBlock">
    <h1><TMPL_VAR title></h1>
  </div>

  <div id="contentBlock">
    <p class="note">autor | <TMPL_VAR date> | kategorie</p>
    <TMPL_VAR content ESCAPE="NONE">
  </div>

  <TMPL_IF control>
  <div id="attachmentsBlock">
    <h3>Přílohy:</h3>
    <TMPL_LOOP attachment>
      <a href="attachment/<TMPL_VAR id>/<TMPL_VAR file>"><div class="menuItem fltLeft"><TMPL_VAR file></div></a>
    </TMPL_LOOP>
    <div class="clear"></div>
  </div>
  </TMPL_IF>

