/* Colours

Gray: #f4f4f4;
Blue: #7a95a7;
Red:  #cc0033;
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600&subset=latin-ext);

/* Browser options */
::-moz-selection {
  background:             #7a95a7;
  color:                  #ffffff;
}
::selection {
  background:             #7a95a7;
  color:                  #ffffff;
}

/* Elements */
body {
  margin:                 0;
  padding:                0;
  background:             url('images/pattern.png') #ffffff;
  font-family:            'Open Sans', sans-serif;
  font-size:              11pt;
  font-weight:            300;
}

h1, h2, h3, h4, h5, h6 {
  margin:                 0;
  padding:                0;
  font-family:            'Open Sans', sans-serif;
}

h1 {
  margin:                 0;
  font-size:              30pt;
  font-weight:            300;
  text-align:             center;
  color:                  #cc0033;
}

hr {
  color:                  #7a95a7;
  border-bottom:          solid 1px #7a95a7;
  border-top:             none;
  margin:                 18pt 0 6pt 0;
}

a:link, a:visited{
  color:                  #7a95a7;
  text-decoration:        none;
  -webkit-transition:     all 0.5s linear;
  -moz-transition:        all 0.5s linear;
  -o-transition:          all 0.5s linear;
  transition:             all 0.5s linear;
}

a:hover {
  color:                  #cc0033;
  text-decoration:        none;
  -webkit-transition:     all 0.5s linear;
  -moz-transition:        all 0.5s linear;
  -o-transition:          all 0.5s linear;
  transition:             all 0.5s linear;
}

/* Classes */
.noBorder {
  border:                 none !important;
}

.clear {
	clear:                  both;
}

.center {
  text-align:             center;
}

.bold {
  font-weight:            bold;
}

.small {
  font-size:              8pt;
}

.sub {
  vertical-align:         sub;
}

.sro {
  text-transform:         none;
  font-size:              smaller;
}

.right {
  text-align:             right;
}

.fltRight {
  float:                  right;
}

.fltLeft {
  float:                  left;
}

.note {
  font-style:             italic;
  font-weight:            300;
  font-size:              9pt;
  margin:                 -25px 0 30px 0;
  text-align:             right;
}


/* Page elements */
#line {
  background:             #7a95a7;
  width:                  100%;
  height:                 2px;
}

#header {
  background:             #f4f4f4;
  padding:                0 0 5px 10px;
  margin:                 0 60px 0 60px;
  height:                 55px;
}

#menu {
  width:                  455px;
  height:                 60px;
}

#menu .menuItem {
  width:                  150px;
  height:                 60px;
  text-align:             center;
  float:                  left;
  background:             #7a95a7;
  border-left:            1px solid #ffffff;
  -webkit-transition:     all 0.5s linear;
  -moz-transition:        all 0.5s linear;
  -o-transition:          all 0.5s linear;
  transition:             all 0.5s linear;
  font-weight:            700;
  line-height:            55px;
}

#menu .menuItem:hover {
  background:             #ffffff;
  border-color:           #7a95a7;
  -webkit-transition:     all 0.5s linear;
  -moz-transition:        all 0.5s linear;
  -o-transition:          all 0.5s linear;
  transition:             all 0.5s linear;
}

#menu a:link, #menu a:visited {
  text-decoration:        none;
  color:                  #ffffff;
}

#menu a:hover {
  text-decoration:        none;
  color:                  #cc0033;
}

#titleBlock, #contentBlock {
  margin:                 0 60px 0 60px;
  background:             #ffffff;
  border-bottom:          1px solid #f4f4f4;
  padding:                35px 20px 35px 20px;
}

#attachmentsBlock {
  margin:                 0 60px 0 60px;
  padding:                20px 20px 35px 20px;
  background:             #7a95a7;
}

#attachmentsBlock h3 {
  padding:                0 0 10px 0;
  font-weight:            300;
  color:                  #ffffff;
  font-size:              14pt;
}

#attachmentsBlock div.menuItem {
  width:                  200px;
  height:                 30px;
  line-height:            30px;
  text-align:             center;
  font-weight:            400;
  background:             #7a95a7;
  border:            1px solid #ffffff;
  -webkit-transition:     all 0.5s linear;
  -moz-transition:        all 0.5s linear;
  -o-transition:          all 0.5s linear;
  transition:             all 0.5s linear;
}

#attachmentsBlock a:link, #attachmentsBlock a:visited {
  color:                  #ffffff;
}

#attachmentsBlock a:hover {
  color:                  #cc0033;
}

#attachmentsBlock div:hover {
  background:             #ffffff;
  border-color:           #7a95a7;
  -webkit-transition:     all 0.5s linear;
  -moz-transition:        all 0.5s linear;
  -o-transition:          all 0.5s linear;
  transition:             all 0.5s linear;
}

#footer {
  margin:                 0 60px 0 60px;
  background:             #7a95a7;
  color:                  #f4f4f4;
  padding:                10px 20px 10px 20px;
  font-size:              9pt;
  text-align:             right;
  font-weight:            400;
}

#footer a:link, #footer a:visited {
  text-decoration:        underline;
  color:                  #ffffff;
}

#footer a:hover {
  text-decoration:        underline;
  color:                  #cc0033;
}
